<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514169416530-38egf0ie922jrbdu8pp11q7hmqosicns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514169416530-38egf0ie922jrbdu8pp11q7hmqosicns</string>
	<key>API_KEY</key>
	<string>AIzaSyBSfWYE0EH-SMY1JtyYFmeF4kjuVC5938w</string>
	<key>GCM_SENDER_ID</key>
	<string>514169416530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learn-ex</string>
	<key>PROJECT_ID</key>
	<string>learnex-application-6e09b</string>
	<key>STORAGE_BUCKET</key>
	<string>learnex-application-6e09b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514169416530:ios:8c37dbff832d3f8f45e88b</string>
</dict>
</plist>